.box{

  position: relative;
.box__viewfile__main-message{
  height:450px;
  width:100%;
  background-color: #fff;
  border-style:none;
  overflow: scroll;

  a {
    text-decoration: none;
  }

  &__box{
    height:80px;
    width:calc(100%-6px);
    background-color: #fff;
    display: flex;
    justify-items: center;
    align-items: center;
    border-bottom:1px solid rgb(228, 226, 226);
    margin: 3px;

      .fas{
        display:block;
        font-size:30px;
        margin: 15px;
        margin-right:15px;
        cursor: pointer;
      }
      #gone{
        background-color: rgb(160, 159, 159);
        height:60px;
        width:60px;
        display:flex;
        justify-items: center;
        align-items: center;
        margin:5px;
      }
    &__image{
     
      height:70px;
      width:70px;
      display:flex;
      justify-items: center;
      align-items: center;
      padding:5px;

      
     
      }
      
      img{
        display:block;
        border-radius: 50%;
        height:70px;
        width:70px;
      }
  
    &__content{
      width:75%;
      height:100%;
      background-color: #fff;
      display:flex;
      justify-items: center;
      align-items: center;
      padding-left:10px;
      position:relative;
      
      
      &__name{
        color:rgba(0, 0, 0, 0.733);
      }
      &__text{
        position:absolute;
        bottom:5px;
        color:rgba(187, 187, 187, 0.87);
      }
    }

    &__time{
      background-color:white;
      color:rgba(187, 187, 187, 0.87);
      font-size: 13px;
      margin-right:10px;
      width:25%;
    }
  }
}
  
  .submitbtn{
    
   background-color: transparent;
   border:none;
    line-height: 40px;
    align-items: center;
    color: black;
    position:absolute;
    top: 32px;
    right:40px;
    padding:0;
   
    .far{
      height: 30px;
      width:30px;
      line-height: 40px;
      align-items: center;
      font-size:25px;
      color:white;
      cursor: pointer;
      z-index: 0;
    }
  }

}
